main {
  padding: 16px;
  text-align: center;
}

wired-card {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: block;
}

section {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 0;
}

wired-button {
  background: lightblue;
  color: darkcyan;
  margin: 8px;
}

wired-button.btn-copy {
  background: lightgreen;
  color: darkolivegreen;
  margin: 8px;
}

wired-input {
  width: 200px;
  /* font-family: inherit; */
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  letter-spacing: 0.5em;
}

.copied {
  color: darkolivegreen;
}

.toggle-kata {
  font-size: 12px;
  margin: 0 10px;
}

.toggle-notes {
  font-size: 10px;
  color: darkorange;
}

.foot-notes {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: 0.65em;
  color: darkolivegreen;
  line-height: 140%;
}
